.loadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-block-end: 10px;
}

.loadingContainer  .loading-line {
    /* border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);  */

    width: 80%;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* animation-name: lineEffectLoad;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.loadingContainer .loading-line a {
   
    border-bottom: 1px solid var(--tertiary); 
    padding: 9px;
    width: 1%;
    animation-name: lineEffectLoad;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
 
}
.loadingContainer .loading-icon:nth-child(1) {
background-color: var(--tertiary);
display: inline-block;
width: 28px;
height: 28px;

}

.loadingContainer .loading-icon:nth-child(3) {
    background-color: var(--tertiary);
    display: inline-block;
    width: 16px;
    height: 16px;
    }


    .loadingContainer .loading-icon {
        opacity: 1s;
        animation: animateBackgroud infinite 800ms;
    }
@keyframes lineEffectLoad{
    0% {
        width: 1%;
    }

    25%{
        width: 15%;
    }

    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes animateBackgroud {

    0%{
        background-image: linear-gradient(to left, #adac9a, #a6a596, #a09e92, #99988e, #92918a);
    }

    100%{
        background-image: linear-gradient(to right, #adac9a, #a6a596, #a09e92, #99988e, #92918a);
    }
}