.ModalBackground{

    background-color: rgba(32,35,41,.8);
    background-color: rgba(72, 72, 56, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  
}

